body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to top, #1C7CE0, #150051); /* Azul degradado */
    position: relative;
  }
  .logo {
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: 'Dancing Script', cursive;    
  }

  .logo a {
    color: aliceblue;
}
  .logo img {
    width: 80px;
    height: 80px;
    margin-right: 10px;    
  }
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav-links li {
    margin: 0 10px;
  }
  .nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  .nav-links a:hover {
    border-radius: 20%;
    border-bottom: 2px solid rgb(236, 165, 12);
    display: inline-block;
    color: rgb(255, 255, 255) !important; }


  .toggle-menu {
    display: none;
    cursor: pointer;
  }
  .toggle-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
  }

  /* css Body */
  .clickImg {
    cursor: pointer;
}
.feedback {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}


/* CSS DE CONTAR */

#ball-container {
  position: relative;
  width: 100%;
  height: 60vh; /* Reduce height to fit within view */
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between balls */
  justify-content: center; /* Center balls horizontally */
}

.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #ffffff, #0000ff);
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5),
              inset 0 0 20px rgba(255, 255, 255, 0.3);
  animation: rotate 10s linear infinite;
}



#options-container {
  margin-top: 20px; /* Add some space above */
}

#options {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center;
}

.option-btn {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
}

.option-btn:hover {
  background-color: #0056b3;
}

#result {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: linear-gradient(to bottom, #0000FF, #00FFFF);
  }
  .nav-links.active {
    display: flex;
  }
  .toggle-menu {
    display: block;
  }
  .nav-links li {
    margin: 10px 0;
  }
}